<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<div>
<center><form  action="javascript:void(0);">
              <h2>Make New Blog Post</h2>
                <div class="col-sm-6">
                    <label>Title</label> <br>
                    <input type="text" ng-model="title" placeholder="Title" class="form-control"> 
                </div>
                <div class="col-sm-6">
                    <label>Body</label> <br>
                    <textarea ng-model="body" placeholder = "Body" rows="4" cols="90" class="form-control"></textarea>
                </div>
               <button ng-click='Register()' style='margin-top:15px' class="btn btn-outline-primary">Create</button>

            </form></center>
             <center>{{message}}</center>
</div>


</body>
</html>